<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="filters">
        <div class="filter-body" th:each="filter: ${filters}">
            <span th:text="${filter.name}">filter.name</span>
            <ul>
                <li th:each="value : ${filter.values}" th:text="${value.name}"></li>
            </ul>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pc: ${pcs}">
                <td th:text="${pc.name}">pc.name</td>
                <td th:text="${currencyFormatter.invoke(pc.price)}">currencyFormatter(pc.price)</td>
                <td><a th:href="${pc.url}">Link do komputronik</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>