<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="filters" action="/">
        <div class="filter-body" th:each="filter: ${filters}">
            <button type="submit">Filtruj</button>
            <label th:for="${'s' + filter.id}" th:text="${filter.name}">filter.name</label>
            <ul th:id="${'s' + filter.id}">
                <li th:each="value : ${filter.values}">
                    <input type="checkbox" name="specValue" th:value="${value.id}" th:text="${value.name}" />
                </li>
            </ul>
            <button type="submit">Filtruj</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pc: ${pcs}">
                <td th:text="${pc.name}">pc.name</td>
                <td th:text="${currencyFormatter.invoke(pc.price)}">currencyFormatter(pc.price)</td>
                <td><a th:href="${pc.url}">Link do komputronik</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>